body {
	background-color: white;
}

.jumbotron {
	background-image: url(../produce.jpg);
	color: white;
	text-shadow: black 2px 2px 2px;
	text-align: center;
	height: 25em;
}

#title {
	width: 80%;
	margin-left: 4.5em;
	padding-top: 0.5em;
	font-size: 90px;
	font-family: 'Arima Madurai', cursive;	
}